// Shared

// Flash

.flash {
  font-size: 18px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.alert {
  background-color: #e03434;
}

.notice {
  background-color: #77cc33;
}
