// Shared

// Header

#header {
  @include background(linear-gradient(to bottom, #009dd1, #0093cd));
  border-top: 1px solid darken(#009dd1, 15%);
  border-bottom: 1px solid darken(#0093cd, 15%);
  height: 80px;

  // Inline header components
  #brand, #navigation, #user {
    @include inline-block;
  }

  // Brand
  #brand {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }

  // Navigation
  #navigation {
    margin-left: 50px;
    margin-top: 30px;

    a {
      color: #fff;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $text-color;
      }
    }

    li {
      display: inline;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }

    .active {
      color: #333;
    }
  }

  // User
  #user {
    float: right;
    margin-top: 30px;

    .email {
      color: $text-color;
      margin-right: 30px;
      font-weight: bold;
    }

    a {
      color: #fff;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $text-color;
      }
    }
  }
}
